@import '../../scss/variables.scss';

.main {
    @include font-first;
    color: $color-text;

    .section-inner{
        @media (max-width: $screen-md-max) {
            padding: 0;
        }
    }

    &-pannel{
        display: flex;
        justify-content: space-between;
        margin-top: 27px;
        padding-bottom: 24px;
        font-size: 16px;
        line-height: 20px;

        @media (max-width: $screen-xs-max) {
            flex-direction: column;
            margin-top: 10px;
        }

        &-checkbox{
            display: flex;

            input {
                background: rgba(0, 0, 0, 0.87);
            }

            &-description{
                width: 196px;
                height: 20px;
                margin-left: 10px;
            }
            @media (max-width: $screen-xs-max) {
                margin-bottom: 16px;
            }
        }

        &-info {
            input {
                background: transparent;
                border: none;
                outline: none;
            }
            @media (max-width: $screen-xs-max) {
                width:212px;
                height:48px;
                margin-bottom: 16px;
            }
            button{
                background-color: Transparent;
                background-repeat:no-repeat;
                border: none;
                cursor:pointer;
                overflow: hidden;
                font-size: 16px;
                outline:none;
            }
            button:hover{
                color: gold
            }

        }
    }
    @media (max-width: $screen-lg) {
        margin-left: 16px;
        margin-right: 16px;
    }
}


// .section-inner{
//     @media (max-width: $screen-md-max) {
//         padding: 0;
//     }
// }

// @media (max-width: $screen-lg) {
//     margin-left: 16px;
//     margin-right: 16px;
// }