@import '../../scss/variables.scss';


.main {
    @include font-first;
    color: $color-text;


    .section-inner{
        @media (max-width: $screen-md-max) {
            padding: 0;
        }
    }

    &-pannel{
        display: flex;
        justify-content: space-between;
        margin-top: 27px;
        padding-bottom: 24px;
        font-size: 16px;
        line-height: 20px;

        @media (max-width: $screen-xs-max) {
            flex-direction: column;
            margin-top: 10px;
        }

        &-checkbox{
            display: flex;
            margin-left: 0;

            input {
                background: rgba(0, 0, 0, 0.87);
                margin:0;
            }

            &-description{
                width: 196px;
                height: 20px;
                margin-left: 10px;

            }
            @media (max-width: $screen-xs-max) {
                margin: 0  auto;
                margin-left: 20%;
                padding-bottom: 15px;
            }
        }

        &-info {
            margin-right: 0;
            input {
                background: transparent;
                border: none;
                outline: none;
            }
            @media (max-width: $screen-xs-max) {
                width:212px;
                height:48px;
                margin-bottom: 16px;
                
            }
            button:hover{
                color: gold
            }
            @media (max-width: $screen-xs-max) {
                margin: 0 auto;
                margin-left: 20%;
            }

        }
    }
    @media (max-width: $screen-lg) {
        margin-left: 16px;
        margin-right: 16px;
    }
}

.toggleDistanceBtn {
    line-height: 1;
    cursor: pointer;
    background: transparent;
    font-size: 16px;
    color: #111;
    outline: none;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid #111;
}

.active {
    font-weight: 600;
    border: transparent;
}